{% load molly_utils %}{% if entity.metadata.real_time_information %}

<div class="section">
  <div class="header">
    <h2>Bus departures - {% now "G:i:s "%}</h2>
  </div>
  
  {% if entity.metadata.real_time_information.pip_info %}
    <ul class="content-list no-round-bottom">
      <li>{{ entity.metadata.real_time_information.pip_info|sanitize_html }}</li>
    </ul>
  {% endif %}
  
  <table class="content">
    <thead>
      <tr>
        <th>Service</th>
        <th>Destination</th>
        <th>Expected</th>
      </tr>
    </thead>
    <tbody id="bus_times">
      {% for service in entity.metadata.real_time_information.services %}
        <tr>
          <td rowspan="2" style="font-size:200%; text-align:center;">{{ service.service }}</td>
          <td>{{ service.destination }}</td>
          <td>{{ service.next }}</td>
        </tr>
        <tr class="notopborder">
          <td colspan="2"><small>Next: {% if service.following %}{{ service.following|join:", " }}{% else %}<em>No further info</em>{% endif %}</small></td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="3">
            There is currently no information about buses due at this stop.
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  
</div>

{% endif %}
